<div>
  
  <form #f="ngForm" (ngSubmit)="onSubmitRegister(f.value,f)"> 
    <table>
      <tr>
          <td>
              <label for = "Email">Email:</label>
          </td>
          <td>
              <input type="email" name="Email" id="Email" [(ngModel)]="Email"/>
          </td>
      </tr>

      <tr>
          <td>
                <label for = "Username">Username:</label>
          </td>

          <td>
                <input type="text" name="Username" id="Username" [(ngModel)]="Username"/>
            </td>
      </tr>

      <tr>
          <td>
                <label for = "Password">Password:</label>
          </td>

          <td>
                <input type="password" name="Password" id="Password" [(ngModel)]="Password"/>
            </td>
      </tr>

      <tr>
          <td>
                <label for = "ConfirmPassword">Confirm password:</label>
          </td>

          <td>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" [(ngModel)]="ConfirmPassword"/>
            </td>
      </tr>

      <tr>
          <td>
                <label>Role:</label>
          </td>

          <td>
                <select style="width: 100%" name="Roles" id="Role" [(ngModel)]="Role">
                   <option value="AppUser">User</option>
                   <option value="Manager">Manager</option>
                </select>
          </td>
      </tr>

    </table>
    <br>
  <div>
    <input class="button button1" type="submit" value="Register"/>
  </div>
</form>
</div>
