<h3>Add room-reservations</h3>
<form #f="ngForm" (ngSubmit)="addRoomReservation(f.value, f)">
    <div>
        <label for="StartDate: ">StartDate</label>
        <input type="date" name="StartDate" ngModel>
    </div>
    <div>
        <label for="EndDate: ">EndDate</label>
        <input type="date" name="EndDate" ngModel>
    </div>
    <div>
        <label for="Timestamp: : ">Timestamp</label>
        <input type="time" name="Timestamp" ngModel>
    </div>
    Soba:
    <select name="RoomId" id="RoomId" [(ngModel)]="RoomId">
      <option *ngFor = "let room of rooms" value={{room.Id}} >{{room.Id}}</option>
    </select>
    <input type="submit" />
</form>

<h3>RoomReservations</h3>
<div>
    <ul>
        <li *ngFor="let rm of roomreservations">
            {{rm.id}}
            <button name="delete" (click)="DeleteRoomReservation(rm.Id)" type="button">Delete</button><br>
            <label for="StartDate">StartDate: </label>{{rm.StartDate}}<br>

            <label for="EndDate">EndDate: </label>{{rm.EndDate}}<br>

            <label for="Timestamp: : ">Timestamp: </label>{{rm.Timestamp}} <br>

            <label for="RoomId: : ">RoomId: </label> {{rm.Timestamp}}<br>
        </li>
    </ul>
</div>