<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" enctype="multipart/form-data">
    <div>
        <label for="Name">Name:</label>
        <br>
        <input type="text" name="Name" id="Name" [(ngModel)]="Name" />
    </div>

    <div>
        <label for="Description">Description:</label>
        <br>
        <input type="text" name="Description" id="Description" [(ngModel)]="Description" />
    </div>

    <div>
        <label for="Address">Address:</label>
        <br>
        <input type="text" name="Address" id="Address" [(ngModel)]="Address" />
    </div>

    <div>
        <label for="Latitude">Latitude:</label>
        <br>
        <input type="number" name="Latitude" id="Latitude" [(ngModel)]="Latitude" />
    </div>

    <div>
        <label for="Longtitude">Longitude:</label>
        <br>
        <input type="number" name="Longtitude" id="Longtitude" [(ngModel)]="Longtitude" />
    </div>

    <div>
        <select name="AccomodationTypeId" id="AccomodationTypeId" [(ngModel)]="AccomodationTypeId">
      <option *ngFor = "let t of types" value={{t.Id}} >{{t.Name}}</option>
    </select>
    </div>

    <div>
        <label for="ImageUrl">ImageUrl:</label>
        <br>
        <input type="file" name="ImageUrl" id="ImageUrl" (change)="onChange($event)" />
    </div>

    <div>
        <select name="PlaceId" id="PlaceId" [(ngModel)]="PlaceId">
      <option *ngFor = "let place of places" value={{place.Id}} >{{place.Name}}</option>
    </select>
    </div>

    <div>
        <input type="submit" value="Add" />
    </div>

    <h3>Accomodations:</h3>
    <div>
        <ul>
            <li *ngFor="let acc of accomodations">
                {{acc.Name}}
                <button name="delete" (click)="DeleteAccomodation(acc.Id)" type="button">Delete</button>
                <div *ngIf="acc != null">
                    <label for="Name">name: </label>
                    <input type="text" name="Name1" [(ngModel)]="acc.Name" /><br>

                    <label for="Description">Description: </label>
                    <input type="text" name="Description1" [(ngModel)]="acc.Description" /><br>

                    <label for="Address">Address: </label>
                    <input type="text" name="Address1" [(ngModel)]="acc.Address" /><br>

                    <label for="Latitude">Latitude: </label>
                    <input type="number" name="Latitude1" [(ngModel)]="acc.Latitude" /><br>

                    <label for="Longtitude">Longitude: </label>
                    <input type="number" name="Longtitude1" [(ngModel)]="acc.Longtitude" /><br>

                    <label for="AccomodationTypeId">AccomodationTypeId: </label>
                    <input type="text" name="AccomodationTypeId1" [(ngModel)]="acc.AccomodationTypeId" /><br>

                    <label for="ImageUrl">ImageUrl: </label>
                    <input type="file" name="ImageUrl1" [(ngModel)]="acc.ImageUrl" /><br>

                    <img src="{{url + acc.ImageURL}}" alt="ImageUrl" height="42" width="42">

                    <label for="PlaceId">PlaceId: </label>
                    <input type="number" name="PlaceId1" [(ngModel)]="acc.PlaceId" /><br>
                </div>
                <button type="button" (click)=PutAccomodation(acc)>Edit</button>
                <br>
                <p></p>
            </li>

        </ul>
    </div>
    <h1>{{ title }}</h1>

    <router-outlet></router-outlet>
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker *ngFor="let acc of accomodations" [latitude]="acc.Latitude" [longitude]="acc.Longtitude">
        </agm-marker>
    </agm-map>
</form>