<div style="padding-left: 10%; height: 500px">

    <h1 style="color: #DAE9BC;font-size:64px;">
        MyApp
    </h1>

    <a [routerLink]="['/other']">Home</a>
    <a *ngIf="isLogged==false" [routerLink]="['/registration']">Registration</a>
    <a *ngIf="isLogged==false" [routerLink]="['/login']">Login</a>
    <a *ngIf="isLogged==true" [routerLink]="['/logout']">Logout</a>
    <br><br>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <router-outlet></router-outlet>
    <!--<agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>-->
</div>